@{
    ViewBag.Title = "Home Page";
}

    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <span>Натисніть на час сеансу, щоб обрати місця</span>
                </div>

                <div class="row">
                    <div class="col"><button type="button" class="btn btn-outline-primary" disabled>22 ЛЮТОГО СЬОГОДНІ</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">23 ЛЮТОГО ЗАВТРА</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">24 ЛЮТОГО ПОНЕДІЛОК</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">25 ЛЮТОГО ВІВТОРОК</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">26 ЛЮТОГО СЕРЕДА</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">27 ЛЮТОГО ЧЕТВЕР</button></div>
                    <div class="col"><button type="button" class="btn btn-outline-secondary">28 ЛЮТОГО П'ЯТНИЦЯ</button></div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="col-2">
                        <img src="~/Images/1.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>0+ Поклик пращурів</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">16:55</a></div>
                            <div class="col-4"><a href="#">17:50</a></div>
                            <div class="col-4"><a href="#">19:00</a></div>
                        </div>
                        <div class="row">
                            <div class="col-4"><a href="#">20:15</a></div>
                            <div class="col-4"><a href="#">21:30</a></div>
                            <div class="col-4"><a href="#">22:10</a></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="~/Images/2.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>0+ Їжак Сонік</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">13:45</a></div>
                            <div class="col-4"><a href="#">16:25</a></div>
                            <div class="col-4"><a href="#">18:10</a></div>
                        </div>
                        <div class="row">
                            <div class="col-4"><a href="#">20:30</a></div>
                            <div class="col-4"><a href="#">22:00</a></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <img src="~/Images/3.jpeg" class="imgfixed" alt="#">
                    </div>
                    <div class="col-2">
                        <h3>16+ Джентльмени</h3>
                        <div class="row">
                            <div class="col-4"><a href="#">21:00</a></div>
                            <div class="col-4"><a href="#">22:30</a></div>
                        </div>
                    </div>
                </div> <!-- .movie-list -->

                </div>
            </div> <!-- .container -->
    </main>